@charset "utf-8";

/************************** 
    Font : font-weight:400 - Regular / font-weight:500 - Medium / font-weight:700 - Bold
***************************/
@font-face {
  font-family:'Robo';
  src:local(※),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'Robo';
  src:local(※),
    url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family:'Robo';
  src:local(※),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family:'nsKR';
  src:local(※),
    url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Regular.woff') format('woff'),
    url('../fonts/NotoSansKR-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'nsKR';
  src:local(※),
    url('../fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Medium.woff') format('woff'),
    url('../fonts/NotoSansKR-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family:'nsKR';
  src:local(※),
    url('../fonts/NotoSansKR-Bold.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Bold.woff') format('woff'),
    url('../fonts/NotoSansKR-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/*****************************************************************************************************************************************
	폰트사이즈 정의 - rem : 최상위 폰트정의 값에 상속 (사파리5+, 크롬, 파이어폭스 3.6+, 익스플로러9+) / em, % : 설정한 부모 폰트 사이즈에 상속
	8px == 0.8rem, 0.8em, 80%
	9px == 0.9rem, 0.9em, 90%
	10px == 1rem, 1em, 100% : 기본 사이즈 설정 값
	11px == 1.1rem, 1.1em, 110%
	12px == 1.2rem, 1.2em, 120%
	13px == 1.3rem, 1.3em, 130%
	14px == 1.4rem, 1.4em, 140%
	15px == 1.5rem, 1.5em, 150%
	16px == 1.6rem, 1.6em, 160%
	17px == 1.7rem, 1.7em, 170%
	18px == 1.8rem, 1.8em, 180%
*****************************************************************************************************************************************/
/************************** 
    Reset
***************************/
* {box-sizing:border-box;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,div,figure,article,header,nav,footer,section,aside {margin:0;padding:0;word-break:keep-all;word-wrap:break-word;white-space:normal;}
html, body {font-family:Robo, nsKR, Arial, Dotum sans-serif;height:100%;letter-spacing:0;font-size:10px;color:#222;font-weight:400;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
img,fieldset,iframe {border:0;vertical-align:top;}
img {width:100%;height:auto;}
textarea {-webkit-appearance:none;resize:none;} /* 리사이징 초기화 */
ul,ol,li {list-style:none;}
em,address {font-style:normal;}
input,select {-webkit-appearance:none;vertical-align:middle;}
table {width:100%;border-collapse:separate;border-spacing:0;}
hr {display:none;}
label{word-break:break-all;}
legend,caption {position:absolute;height:0;overflow:hidden;}
strong,b {font-weight:700}
i {font-style:normal;}
a {display:inline-block;box-sizing:border-box;color:inherit;text-decoration:none;cursor:default;}
abbr {text-decoration:none;}
button {box-sizing:border-box;border:none;background:none;cursor:pointer;outline: none}

a, a:link, a:visited, a:active {color:#555;text-decoration:none;outline: none;}
a:hover {color:#555;}
[class*="btn"] {vertical-align:middle;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;text-decoration:none;}

* html .clfix {height:1%;}
/************************** 
    Common
***************************/
body {word-break:break-all;min-width:960px;}
[class*='Wrap'] > [class*='Wrap'] {padding:120px 0;position: relative;}
.title {position:relative;display:block;margin-bottom:30px;text-align:center;font-size:18px;font-weight:700;}
.title:after {content:'';display:block;position:relative;top:15px;width:20px;margin:0 auto;margin-bottom:50px;border-bottom:2px solid #000;}
.aboutWrap,
.workWrap {position:relative;}
/************************** 
    Layout
***************************/
.header {position:fixed;width:100%;text-align:center;color:#fff;z-index:1;}
.header.on {background:#141414;}
.header .gnb {font-size:0;}
.header .gnb li {display:inline-block;padding: 25px 0;}
.header .gnb li + li {margin-left:60px;}
.header .gnb button {font-size:16px;;color:#fff;cursor: pointer;opacity:0.7;}
.header .gnb button:hover,
.header.on .gnb li.on button {opacity:1;}
.mainBg {position:fixed;top:0;width:100%;height:100%;z-index:-1;background:url('/inc/images/bg_info.jpg') center no-repeat;background-size:cover;}
.mainBg:before{content:'';position:absolute;width:100%;height:100%;background:rgba(0, 0, 0, 0.8);}
.infoWrap {position:absolute;width:100%;height:100%;}
.infoWrap .txt{z-index:-1;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);}
.infoWrap .txt span {display:block;width:645px;font-size:60px;text-align:center;color:#fff;transform:translateY(50%);opacity:0;}
.infoWrap .txt span + span {margin-top:30px;}
.infoWrap .scrollBtn {position:fixed;left:0;bottom:25px;right:0;text-align:center;z-index:1;}
.infoWrap .scrollBtn .btn{font-size:0;width:28px;height:15px;background:url('/inc/images/arrow_bottom.png') center no-repeat;background-size:cover;}
.header.on  ~ .infoWrap .scrollBtn {display:none}
.aboutWrap > .innerWrap {background:#fff;}
.meImg {overflow:hidden;width:150px;height:150px;margin:0 auto;border-radius:50%;}
.historyItem {width:960px;margin:0 auto;margin-top:0;padding-top:60px}
.historyItem li {overflow:hidden;}
.historyItem li + li {margin-top:30px;}
.historyItem .dayTxt,
.historyItem .infoTxt {float:left;}
.historyItem .dayTxt {position:relative;width:20%;padding-top:20px;font-size:14px;}
.historyItem .dayTxt:after{content:'';position:absolute;top:20px;right:0;width:12px;height:12px;border:3px solid #3bb3aa;border-radius:50%;box-sizing:border-box;}
.historyItem .infoTxt {margin-left:2%;width:78%;padding:20px 30px;border-radius:10px;background:#f9f9f9;}
.historyItem .infoTxt .tit {font-size:16px;font-weight:500;color:#000;}
.historyItem .infoTxt .tit span {margin-left:10px;font-size:14px;color: #767676;}
.historyItem .infoTxt .subTxt {display:block;margin-top:10px;font-size:14px;color: #767676;}
.workWrap {position:relative;background:#141414;}
.workWrap .title {color:#fff;}
.workWrap .title:after {border-bottom:2px solid #fff;}
.workList {margin-top:80px;position:relative;height:685px;overflow: hidden;}
.workList .bg{position:absolute;left:0;bottom:0;right:0;width:100%;height:160px;background:linear-gradient(to bottom,  rgba(20,20,20,0) 0%,rgba(20,20,20,0.4) 50%,rgba(20,20,20,0.9) 100%);}
.workList li {text-align:center;}
.workList li a {min-width:310px;cursor:pointer;position:relative;display:inline-block;font-size:30px;text-align:center;color:#fff;overflow:hidden;}
.workList li a .subTxt {position:absolute;top:0;left:0;bottom:0;right:0;background:#fff;transform:translateY(50%);opacity:0;transition:.3s ease-in-out;}
.workList li a:hover .subTxt {transform:translateX(0%);opacity:1;}
.workList li a .subTxt em {font-size:18px;line-height:calc(100% + 1.5em);color:#000;}
.mark:after {content:'';display:inline-block;margin-left:10px;vertical-align:-7px;width:60px;height:40px;background:url('/inc/images/mark.gif') center no-repeat;background-size:100% auto;}
.contactWrap {text-align:center;}
.contactWrap .title {color:#fff;}
.contactWrap .title:after {border-bottom:2px solid #fff;}
a.tel {color: #fff;font-size: 45px;display: block;}
a.mail {color: #fff;font-size: 20px;display: block;margin-top:20px}
.contactWrap .scrollBtn {position:absolute;left:0;bottom:50px;right:0;text-align:center;}
.contactWrap .scrollBtn .btn{font-size:0;width:28px;height:15px;background:url('/inc/images/arrow_top.png') center no-repeat;background-size:cover;}


/************************** 
    @media query
***************************/
/* 태플릿 버전 */
@media screen and (max-width:1024px) {
  .wrapper{}
}
/* 모바일 버전 */
@media screen and (max-width:767px) {
  .wrapper{}
}







